<div id="form-main">
    <div class="container">
        <div class="required-message text-block">
            <span style="color: red;">*</span> Required
        </div>
        <div class="form-body">
            <div class="question">
                <div class="question-lable">
                    <div class="text-block">1. Name of participant <span style="color: red;">*</span></div>
                </div>
                <div class="answer">
                    <input type="text" name="" id="" placeholder="Enter your answer">
                </div>
            </div>
        </div>
    </div>  
</div>