#form-main {
    background: #fff;
    opacity: .97;
    padding: 20px 30px 70px;

}

.container .required-message {
    margin-left: 20px;
}

.question {
    padding: 35px 20px;
    position: relative;
}


.question-lable .text-block {
    word-wrap: break-word;
    color: #333;
    font-family: 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.3;
    white-space: pre-wrap;
}


.answer {
    margin-left: 20px;
    margin-top: 20px;
}

.answer>input[type="text"] {
    background-color: #fff;
    background-image: none;
    border: 1px solid #a6a6a6;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #333;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 1.42857143;
    padding: 6px 12px;
    -webkit-transition: grey .15s ease-in-out;
    -o-transition: grey .15s ease-in-out;
    -moz-transition: grey .15s ease-in-out;
    transition: grey .15s ease-in-out;
    width: 100%;
}

.answer>input[type="text"]:focus {
    outline: 1px solid #333;
}

.checkbox {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

.checkbox input[type="checkbox"],
.radio input[type="radio"] {
    width: 20px;
    height: 18px;
    outline-offset: 0;
}



.question .answer .range {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}


.question .answer .star {
    font-size: 35px;
    color: #053870;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    #form-main {
        padding: 20px 0;
    }
}

@media screen and (max-width: 750px) {
    #form-main {
        padding: 20px;
    }
}