/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./assets/meeting.png');
    background-attachment: fixed;
    background-size: cover;
    color: #333;
    font-family: 'Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}